canvas
{
    display: block;
    margin: 0 auto;
    border: none;
    background: black;
}

h2
{
    font-family: "Minecrafter", monospace;
    position: absolute;
    color: white;
    left: 25%;
    top: 70%;
}

.start
{
    width: 80px;
    height: 50px ;
    position: absolute;
    margin-top: 1%;
    margin-left: 43%;
}

.reset
{
    width: 80px;
    height: 50px ;
    position: absolute;
    margin-top: 1%;
    margin-left: 50%;
}